<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.jpg?v=2">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    {{{body}}}
    <script src="/js/main.js"></script>
  </body>
</html>
